.container {
	padding-right: 30px;
	padding-left: 30px;
}

.logo {
	margin-top: 30px;
	display: inline-block;
}
nav {
	margin-top: 25px;
	margin-bottom: 25px;
	display: inline-block;
}
ul {
	list-style-type: none;
}
body {
	font-family: "ALK Life", sans-serif;
}
.img-fluid {
	width: 100%;
}
li {
	display: inline-block;
	width: 200px;
	margin-right: 10px;
}
article {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	padding: 15px;
	box-sizing: border-box;
}
section {
	margin-top: 80px;
}

section h2 {
	margin-bottom: 30px;

}

article img {
	width: 30%;
	margin-left: 15px;
}
article p {
	width: 67%;
	display: inline-block;
	vertical-align: top;
	font-family: "ALK Life", sans-serif;
	line-height: 30px;
	padding-left: 30px;
}
article h3 {
	margin-bottom: 20px;
}
.news-list h3 {
	margin-top: 15px;
	/*margin-left: 15px;*/
	margin-bottom: 
}
a {
	padding-right: 20px;
	background-color: white;
	padding-top: 15px;
}
ul li {
	color: blue;
}
.date {
	text-align: center;
}
.month {
	color: #3d58a5
	font-size: 22px;
	width: 56px;
	height: 56px;
	margin-top: 6px;
}
.navicon span {
	width: 30px;
	height: 3px;
	background-color: blue;
	display: block;
	margin-bottom: 5px;

}
.number {
	font-size: 47px;
	background-color: #3d58a5;
	width: 56px;
	height: 56px;
	color: #fff;
	line-height: 
}
@media only screen and (max-width: 600px)   {
	article img {
		width: 100%;
	}
	article p {
		width: 100%;
		margin-top: 30px;
	}
	nav {
		display: none;
	}
}